<span>{{counter}}</span>
<div class="drag-and-drop-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList, doingList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    @for (item of todo; track item) {
    <div class="example-box" cdkDrag>
      <span>{{ item.title }}</span>
      <span>{{ item.description }}</span>
      @if(item.user) {
      <span>{{ item.user }}</span>
      }
    </div>
    }
  </div>
</div>

<div class="drag-and-drop-container">
  <h2>Doing</h2>

  <div
    cdkDropList
    #doingList="cdkDropList"
    [cdkDropListData]="doing"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    @for (item of doing; track item) {
    <div class="example-box" cdkDrag>
      <span>{{ item.title }}</span>
      <span>{{ item.description }}</span>
      @if(item.user) {
      <span>{{ item.user }}</span>
      }
    </div>
    }
  </div>
</div>

<div class="drag-and-drop-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList, doingList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    @for (item of done; track item) {
    <div class="example-box" cdkDrag>
      <span>{{ item.title }}</span>
      <span>{{ item.description }}</span>
      @if(item.user) {
      <span>{{ item.user }}</span>
      }
    </div>
    }
  </div>
</div>
